* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:#DDD;
}

#main {
    width: 80%;
    margin: 0 auto;
    min-height: 40rem;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
	margin-top:1.5rem;
	margin-bottom:2rem;
	box-shadow: 15px 12px 6px #88888855;
	border-radius: .2rem;
}

.flex-header{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.email{
	cursor:pointer;
}

.email-brian{
	font-size:1.2rem;
	vertical-align: middle;
	opacity: 0;
	display:none;
	padding-bottom:.8rem;
	font-weight:bold;
}

.photo{
	border-radius:.42rem;
}

.contact{
	margin-left:auto;
	display:inline-block;
	font-size:4rem;
}

.intro{
	margin-left:2rem;
	padding-top:1.5rem;
}

ul {
    padding-right: 2rem;
    margin-left: 1.3rem;
    list-style-type: none;
    list-style-image: none;
}

ul.projects li{
	margin-top:.8rem;
}

ul.professional li{
	margin-bottom:.8rem;
}

li {
    padding-bottom: 1.5rem;
	margin-left:2rem;
}

.social-media a{
    text-decoration:none;
}

.social-media{
	min-width:250px;
}

body {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #555;
}

footer {
    font-size: 1rem;
    color: #999;
}

h1 {
    font-size: xx-large;
    padding-top: .5rem;
    padding-bottom: 1.7rem;
	min-width:300px;
}

h3 {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
}

p {
    margin-left: 2.5rem;
}

.no-select{
	user-select:none;
}

.logo {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    margin-left: 1rem;
    margin-bottom: .75rem;
}

.tool {
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    margin-right: 1rem;
}

.title {
    font-weight: bold;
}

.software{
	margin-top:.75rem;
}

.icon{
	max-width: 40px;
    max-height: 40px;
	vertical-align:middle;
	margin-left:.5em;
}

@media (max-width: 1000px) {
    #main{
        width: 100%;
		margin-top:0;
    }
	
	.intro{
		padding-top:.5rem;
	}
	
	h1{
		padding-bottom:1rem;
	}

    h2 {
        font-size: 3rem;
    }

    h3{
        font-size: 2.5rem;
    }

    p{
        font-size: 2rem;
    }

    footer{
        font-size:1.5rem;
    }
}
